<%- include ('header') %> 
<div id="container">
    <h1 class="center h-primary">How to Apply</h1>
 </div>
    <section >
        <div id="profile">
            <h1 class="h-primary name">
                All Steps Must be Followed
            </h1>
            <div class="apply">
                <br>    
                <h1>Step 1 :<strong class="strong"> First you have to login</strong> </h1>
                <br>
                <h1>Step 2 :<strong class="strong"> Enter All required details</strong> </h1>
                <br>
                <h1>Step 3 :<strong class="strong"> Click on Submit</strong></h1>
                
            </div>
        </div>
        </section>
        <div id="add-employes" > <a href="/newemploye" class="btn center" >Add new Employee </a></div>

