<%- include ('header') %> 
<section id="home">
	<h1 class="h-primary main">Welcome to xyz.com!!!</h1>
	<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim, harum cum. Rerum magni minima fugit,<br>This is very Amazing website This is Our first Website!!!</p>
	<!-- <button class="btn" > Learn More</button> -->
	<div > <a href="/applynow" class="btn center" >Apply Now</a></div>
</section>

<section class="container">
	<h1 class="h-primary center">Our Profiles</h1>
	<div id="services">
		<div class="box"><img src="/images/profile.png" alt=""><h3 class="h-secondary center">First</h3>
			<p class="center profile-size">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum enim aspernatur veniam ea aut velit. Fugiat atque illum quis, doloremque sit eum veritatis perspiciatis ipsam!</p>
		</div>
		<div class="box"><img src="/images/profile.png" alt=""><h3 class="h-secondary center">Second</h3>
			<p class="center profile-size">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum enim aspernatur veniam ea aut velit. Fugiat atque illum quis, doloremque sit eum veritatis perspiciatis ipsam!</p>
		</div>
		<div class="box"><img src="/images/profile.png" alt=""><h3 class="h-secondary center">Third</h3>
			<p class="center profile-size">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum enim aspernatur veniam ea aut velit. Fugiat atque illum quis, doloremque sit eum veritatis perspiciatis ipsam!</p>
		</div>
		<div class="box"><img src="/images/profile.png" alt=""><h3 class="h-secondary center">Fourth</h3>
			<p class="center profile-size">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum enim aspernatur veniam ea aut velit. Fugiat atque illum quis, doloremque sit eum veritatis perspiciatis ipsam!</p>
		</div>
	</div>
	
</section>

<div id="add-employes" > <a href="/newemploye" class="btn center" >Add new Employes </a></div>
<hr>
<section>
	<div id="profile">
		<img src="/images/logo.png" alt="">
		<h1 class="h-primary name">
			Jatin Kumar
		</h1>
		<p class="p-profile ">
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate odio eligendi repudiandae veniam voluptatum ex officiis animi! Culpa facilis iste reiciendis quisquam cupiditate sit dolorem quam fuga id consequatur? Minus voluptas, doloremque atque quae perferendis ducimus minima sed eos quod voluptatibus culpa maiores est ipsa reprehenderit dolores ab eveniet omnis asperiores, quaerat consectetur cupiditate impedit cumque. Sit quaerat excepturi eveniet maiores rem, quae rerum molestias facilis tempore eum, voluptatum dolorum inventore quo officiis illo odio corrupti. Dignissimos accusantium optio eaque sit quisquam a quas quod incidunt eligendi quos sint corrupti id recusandae animi nemo vitae vero pariatur magni, minima architecto!
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero nemo tempore, velit quia aut est dignissimos laudantium in sint cumque dolor molestias ullam laborum odit soluta minus. Labore omnis, assumenda aliquam voluptatum et deserunt aliquid doloremque dolor consequuntur voluptate dolorem alias minus adipisci commodi dolore magni deleniti nisi sunt dicta fugit. Id nobis, nihil ullam ipsam ipsa magnam consectetur voluptate eligendi, atque, corporis sunt? Voluptatum maiores tempore provident libero enim sint dolorem minima corrupti? Quo in molestias exercitationem aperiam vero natus quaerat dolores enim voluptate. Debitis cupiditate facere ex beatae placeat, optio iste reprehenderit eum, maxime deserunt est ipsum dolorum adipisci ea voluptatum, provident voluptate maiores. Amet excepturi, nihil inventore sunt veritatis quos dolore! Vitae rem, ab accusamus quisquam perferendis pariatur! Inventore expedita beatae animi nobis, reprehenderit nemo ex, ipsa vel, eum id quibusdam. Ipsum soluta dolorum maiores officia aspernatur quibusdam quisquam sint quo nam facilis quam laboriosam et adipisci eum, hic ullam, accusantium nulla repellat. Necessitatibus sit itaque quia. Amet quaerat dolorem harum exercitationem f
		</p>
	</div>
</section>
<%- include ('footer') %> 