<%- include ('header') %> 
<div id="container">
    <h1 class="center h-primary">Sign Up Form </h1>
 </div>
<form id="loginform" action="/registration" method="POST">
    <input class="form loginform" type="text" name="username" placeholder="username" required>
    <input class="form loginform" type="password" name="password" placeholder="password" required>
    <div id="submit-btn" class="center ">
        <button class="btn ">Register</button>
     </div>
</form>

